.incoming-message{
	min-height:600px;
	margin-bottom:140px;
}

$bg-default: #D54635;
$white: #ffffff;
$black: #000000;
$border-default: #878787;


body .login{
	background: $bg-default;
}

.container{
	background: $bg-default;
	height: 100%;
	padding-top:3%;
	padding-bottom: 15%;
	color: $white;
	font-family: "Lato";
	overflow-y: hidden;
	h1,h2,h3{
		color: $white;
		font-family: "Lato";
		font-style: "bold";
	}
	label{
		color: $white;
		font-family: "Lato";
	}
}

.bg-message{
	min-height: 75%;
	max-height: 75%;
	margin-top: 1%;
	background: $white;
	overflow: scroll;
	position: fixed;
	width: 100%;
}

li{
	color: #111;
	list-style: none;
	border: 1px solid #ededed;
	padding: 5px;
	
}

.chat-menu{
/*	position: fixed;*/
	background: $bg-default;
/*	padding-top: 1%;*/
	height: 57px;
	bottom: 0%;
	width:100%;
	line-height: 57px;
}
.icon{
		a{
			color: #fff;
			
		}
	}

.row.icon i a{
	font-size: 18px !important;
}

.chat-header{
	top: 0%;
	min-height: 1%;
	max-height: 1%;
	width:100%;
	position: fixed;	
	padding-top:1%;
}

.icon-bar a i{
	font-size: 30px;
	color: #fff;
}

.head p{
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 42px;
}

.head{
	border-bottom: 2px solid #c94128;
	height: 42px;
	background: #d64635;
}

.icon-bar a.active{
	border-bottom: 5px solid #fff;
	padding-bottom: 15px;
}

.icon-bar{
	line-height: 56px;
}

.menu{
	height: 56px;
	background: #d64635;
}

.form-send{
	bottom: 0;
width: 100%;
position: fixed;
border-top: 1px solid #cfcfcf;
}

a.button.red.postfix{
	background: #c94128 !important;
	color: #fff;
}

input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], textarea{
	border:1px solid #fff !important;
	-webkit-box-shadow:none;
}

.incoming-message p{
	color: #a6a6a6;
	margin-top: 5%;
	margin-bottom: 5px;
}
